@import (reference) '~@servicetitan/tokens/dist/tokens.less';

.logo-card {
    position: relative;
    box-sizing: border-box;
    width: 160px;
    height: 200px;
    padding: @spacing-1;

    .logo-action {
        position: absolute;
        right: 0;
        top: 0;
        padding: @spacing-2;
    }

    &:not(:hover) .logo-action {
        display: none;
    }

    img {
        display: block;
        max-width: calc(100% - 16px);
        margin: 0 auto;
        height: auto;
    }
}
